#kuralNumber{
    width: 300px;
    height: 60px;
    box-sizing: border-box;
    box-shadow: 10px;
    border-color: black;
    
}
button{

    width: 100px;
    height: 60px;
    box-sizing: border-box;
    box-shadow: 10px;
    border-color: snow;
    background-color:black;
    -webkit-text-fill-color: transparent;
-webkit-text-stroke-width:1px;
color:snow

}
.header{
    text-align: center;
    color:black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin: 0px;
    padding-top:  1px;
    -webkit-text-fill-color:snow;
    -webkit-text-stroke-width:2px;
    
    opacity: 0.9;
    
    animation: animate 3s linear infinite;
    }
   
        
body{
    background-color: darkgrey;
    margin:0px;
    padding:0px;
    background-image: url(https://assets.change.org/photos/1/wh/zx/IvWhzxmyxSewArN-1600x900-noPad.jpg?1515824482);
    
    
    overflow-y: scroll;
    }
    
  
.card{

        width: 500px;
        border-radius: 10px;
        height: 300px;
        background-color:snow;
        opacity: 0.9;
        text-align:left ;
        margin-left: 500px;
        margin-top: 50px;
        padding: 15px;
        border-color: black;
        overflow:scroll;
    }
    .card:hover{
        border-radius: 10px;
        transform: scale(1.08);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    